{% extends 'layout.html.twig' %}

{% block _header %}
    <h1>Tableau de bord</h1>
    <ol class="breadcrumb">
        <li class="active">
            <a href="{{ path('common_dashboard') }}">
                Tableau de bord
            </a>
        </li>
    </ol>
{% endblock %}

{% block _body %}
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua">
                    <i class="fas fa-cogs"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">
                        WAMP Server
                    </span>
                    <span class="info-box-number">
                        {{- wampServer.version -}}
                    </span>
                    <span class="progress-description">
                        {{- wampServer.path -}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-blue">
                    <i class="fas fa-server"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">
                        Apache
                    </span>
                    <span class="info-box-number">
                        {{- apache.version -}}
                    </span>
                </div>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow">
                    <i class="fas fa-code"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">
                        PHP
                    </span>
                    <span class="info-box-number">
                        {{- php.version -}}
                    </span>
                    <span class="progress-description">
                        {{- php.configurationPath -}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red">
                    <i class="fas fa-database"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">
                        MySQL
                    </span>
                    <span class="info-box-number">
                        {{- mysql.version -}}
                    </span>
                    <span class="progress-description">
                        {{- mysql.port -}}
                    </span>
                </div>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red">
                    <i class="fas fa-database"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">
                        MariaDB
                    </span>
                    <span class="info-box-number">
                        {{- mariaDb.version -}}
                    </span>
                    <span class="progress-description">
                        {{- mariaDb.port -}}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-blue">
                    <i class="fas fa-sitemap"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">
                        <a href="{{ path('apache_virtual_hosts_list') }}">
                            Hôtes virtuels
                        </a>
                    </span>
                    <span class="info-box-number">
                        {{- apache.virtualHostsNumber -}}
                    </span>
                    <span class="progress-description">
                    </span>
                </div>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-blue">
                    <i class="fas fa-share"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">
                        <a href="{{ path('apache_aliases_list') }}">
                            Aliases
                        </a>
                    </span>
                    <span class="info-box-number">
                        {{- apache.aliasesNumber -}}
                    </span>
                    <span class="progress-description">
                    </span>
                </div>
            </div>
        </div>
    </div>
    {% if shortcuts|length > 0 %}
        <h2 class="h4">Raccourcis</h2>
        <div class="row shortcuts-container">
            {% for shortcut in shortcuts %}
                {% if loop.index0 > 0 and 0 == loop.index0 % 2 %}
                    <div class="clearfix visible-sm-block"></div>
                {% endif %}
                <div class="col-md-3 col-sm-6 col-xs-12" style="--color: {{ shortcut.color }}; --alternate-color: {{ color_yiq(shortcut.color, shortcut.color|lighten(25), shortcut.color|darken(25)) }}; --text-color: {{ color_yiq(shortcut.color) }};">
                    <a class="info-box" href="{{ shortcut.url }}">
                        <span class="info-box-icon"><i class="{{ shortcut.icon }}"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">{{- shortcut.subTitle -}}</span>
                            <span class="info-box-number">{{- shortcut.title -}}</span>
                            <span class="progress-description"></span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
