<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <title>{% block _title %}WAMP Server{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha512-Dop/vW3iOtayerlYAqCgkVr2aTr2ErwwTYOvRFUpzl2VhCMJyjQF0Q9TjUXIo6JhuM/3i0vVEt2e/7QQmnHQqw==" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.7/jquery.jgrowl.min.css" integrity="sha512-bHAmDko6dIkQXQGO56+bsFtl7FJEuzQ0qKsB+cpdzmOV0D7ONYYwfV8ub+7yevWSCZgP10lIy7aTW8eKv5IgTw==" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.18/css/AdminLTE.min.css" integrity="sha512-SvzDTeVjcacK3/Re22K/cLJonaRQAOv5rJ58s8A5xIxhPTZLhQH5NOg2wziR8jWI14We8HHs5jEih2OkUW5Kfw==" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.18/css/alt/AdminLTE-select2.min.css" integrity="sha512-RfjCbpGdImMMDoow3+wB18CDUAm5zOqUMCBXeba5X6xsBmsVvyvjYsbwf+UhjZV5kmKfZ3dBropeOmE5B7bHCg==" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.18/css/skins/skin-{{ _theme|default('black') }}.min.css" />
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />
        <link rel="stylesheet" type="text/css" href="{{ asset('/assets/stylesheets/wamp-interface.min.css') }}" />
        {% block _stylesheets %}{% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    {% set classes = ['hold-transition', 'skin-black', 'sidebar-mini']|merge(_classes|default([])) %}
    <body class="{{ classes|join(' ') }}">
        <div class="wrapper">
            <header class="main-header">
                <a href="{{ path('common_dashboard') }}" class="logo">
                    <span class="logo-mini">
                        <b>{{ 'logo.sm_1'|trans({}, 'layout') }}</b>{{ 'logo.sm_2'|trans({}, 'layout') }}
                    </span>
                    <span class="logo-lg">
                        <b>{{ 'logo.lg_1'|trans({}, 'layout') }}</b>{{ 'logo.lg_2'|trans({}, 'layout') }}
                    </span>
                </a>
                <nav class="navbar navbar-static-top">
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Afficher / Cacher la navigation</span>
                    </a>
                </nav>
            </header>
            <aside class="main-sidebar">
                <section class="sidebar">
                    {{ render(controller('App\\Controller\\FragmentsController::menu')) }}
                </section>
            </aside>
            <div class="content-wrapper">
                {%- if block('_header') is defined -%}
                    <section class="content-header">
                        {{- block('_header') -}}
                    </section>
                {%- endif -%}
                <section class="content container-fluid">
                    {%- for type, messages in app.flashes -%}
                        {%- for message in messages -%}
                            <div class="alert alert-dismissible alert-{{ type }}">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                    ×
                                </button>
                                {{ message }}
                            </div>
                        {%- endfor -%}
                    {% endfor %}
                    {%- block _body -%}{%- endblock -%}
                </section>
            </div>
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b>
                    <a href="https://github.com/bruno-buiret/WAMPInterface">1.2</a>
                </div>
                <strong>OnlineStuff</strong>
            </footer>
            <aside class="control-sidebar control-sidebar-dark">

            </aside>
            <div class="control-sidebar-bg"></div>
        </div>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha512-oBTprMeNEKCnqfuqKd6sbvFzmFQtlXS3e0C/RGFV0hD6QzhHV+ODfaQbAlmY6/q0ubbwlAM/nCJjkrgA3waLzg==" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.7/jquery.jgrowl.min.js" integrity="sha512-h77yzL/LvCeAE601Z5RzkoG7dJdiv4KsNkZ9Urf1gokYxOqtt2RVKb8sNQEKqllZbced82QB7+qiDAmRwxVWLQ==" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.18/js/adminlte.min.js" integrity="sha512-zMj7eDCsI4B/nIs49XZjHc0uxqsF0ZstkCTNMMXLVqQygoa4pLUIpgycCNZhk4pYC2hXsIMxDrJpFZBzIEfgsw==" crossorigin="anonymous"></script>
        {% block _scripts %}{% endblock %}
    </body>
</html>
